.survey-container {
    max-width: 90vw;
    margin: 20px 5vw;
    text-align: center;
}

.required {
    color: red;
    font-size: 13px;
}

form {
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

input {
    /* width: 186px; */
    box-sizing: border-box;
    margin: 8px 0;
}

button {
    margin: 8px 0;
    background-color: #9cbe30;
    border: none;
    border-radius: 8px;
    height: 60px;
    font-size: 40px;
    text-transform: uppercase;
    color: #777;
}