.survey-container {
    max-width: 90vw;
    margin: 20px 5vw;
    text-align: center;
}

form {
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

input {
    width: 186px;
    box-sizing: border-box;
}